/* CSS para IE */
#fluxo #menu-principal .menu-item-227 ul {
	width:410px;	
}
#fluxo #menu-principal .menu-item-228 ul {
	left: -262px;
    width: 747px;

}
#fluxo #menu-principal .menu-item-257 ul {
	left: -174px;
    width: 508px;		
}
#fluxo #menu-principal .menu-item-1869 ul {
	left: -347px;
    width: 508px;	
}